 * {
     margin: 0;
     padding: 0;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .wrap {
     display: flex;
     justify-content: center;
     gap: 30px;
     align-items: center;
 }

 .trip {
     width: 400px;
     animation: right 3s;
 }

 .box {
     width: 400px;
     animation: left 3s  ;

     p {
         margin: 30px 0;
     }

     button {
         background-color: yellow;
         padding: 10px;
         border: none;
     }

 }

 span {
     font-size: 40px;
 }
 

 .section1 {
     color: white;
     padding: 60px 0;
     background: rgb(129, 242, 255);
     background: linear-gradient(153deg, rgba(129, 242, 255, 1) 0%, rgba(0, 80, 107, 1) 100%);
 }

 .card {
     img {
         width: 50px;
     }
 }

 .wrap2 {
     display: flex;
     justify-content: space-around;
     animation: top 5s infinite;
 }

 .title {
     text-align: center;
     margin-bottom: 40px;
 }

 .section2 {
     padding: 80px 0;
 }

 .card {
     text-align: center;

     h2 {
         padding: 10px 0;
     }
     
     
 }

 .wrap3 {
     display: flex;
     flex-direction: column;
     width: 500px;
     gap: 20px;
     margin: 0 auto;
     animation: top 5s ;

     input {
         padding: 15px;
     }

     button {
         background-color: yellow;
         padding: 15px;
         border: none;
     }
 }

 .section3 {
     padding: 60px 0;
 }

 footer {
     background-color: blue;
     color: white;
     padding: 80px 0;
     text-align: center;
 }
 
 @keyframes left{
    from{
        transform: translate(-500px);
    }
    to{
        transform: translate(0);
    }
 }

 @keyframes right{
    from{
        transform: translate(500px);
    }
    to{
        transform: translate(0);
    }
 }

 @keyframes top{
    from{
        transform: translate(0, 100px);
        opacity: 0;
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
 }